; Este archivo NO se usa, es solo para referencia
; Las variables reales se configuran en Vercel Dashboard

APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:j9ZO4sYg+Rb8nlALyEJ8APthM0w5vCBzwqeKAPjvf4g=
LOG_LEVEL=notice
LOG_STACK=stderr
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
